@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

.container {
  @apply flex flex-col items-center justify-normal mx-auto w-full h-screen bg-white text-primaryColor;
}
.logo-class {
  @apply w-24 h-16 mt-7 mb-5 rounded-xl md:mt-10 md:mb-10;
}
.saludo-heading {
  @apply text-4xl font-medium text-center mb-5;
}
.evaluation-instructions {
  @apply text-lg text-center px-10 max-w-4xl mb-5 md:mb-20;
}
.button-continuar {
  @apply bg-blue-600 text-white px-8 py-3 rounded-full;
}
